* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 350px;
    height: 700px;

    border-radius: 25px;

    margin: 0;
    background-color: #000;
    box-shadow: 10px 5px 5px #dddddd;

    img {
        width: 90px;
        height: 90px;

        margin-bottom: 22px;
    }
}


.box-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    height: 75%;
    width: 100%;

    background-color: #fff;

    border-top-left-radius: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    label {
        position: relative;
        font-size: small;

        top: 25px;
        color: #a7a7a7;
    }

    .email {
        right: 98px;
    }

    .password {
        right: 85px;
    }
}

input {
    width: 70%;
    height: 45px;
    outline: none;
    border: none;
    background-color: #dfdfdfbd;

    padding: 12px;
    margin: 5px;
    border-radius: 5px;
    color: #424242
}

.button {
    background-color: #000;
    color: #fff;
    font-weight: 'bold';
    width: 60%;
    margin-top: 20px;
    
    transition: .2s;

    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        z-index: 1;
        transition: .3s;
    }
}

.box-signup {
    height: 55px;
    color: #424242;

    a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
}